@define-color foreground {{ foreground }};
@define-color foreground-dark {{ foreground | darken(0.7) }};
@define-color background rgba({{ background | rgb }}, 0.7);
@define-color alt {{ color5 }};
@define-color urgent {{ color2 }};
