@import "./themes/default.rasi"

configuration {
  display-drun: "Applications";
  display-window: "Windows";
  display-run: "Run";
  display-filebrowser: "Files";
  drun-display-format: "{name}";
  modi: "window,run,drun";
  show-icons: true;

  kb-mode-next: "Tab";
  kb-mode-prev: "ISO_Left_Tab";
  kb-element-next: "";
  kb-element-prev: "";
}

