@import "./colors/color.css";

* {
  font-family: "FontAwesome 5 Free", "JetBrainsMono Nerd Font";
  border: none;
  border-radius: 0;
  font-size: 14px;
  box-shadow: none;
  text-shadow: none;
  transition-duration: 0s;
  min-height: 0;
  margin: 0px;
  padding: 0px;
}

window#waybar {
  background: @background;
  color: @foreground;
  border-radius: 10px;
}

.modules-right:last-child {
  margin-right: 10px;
}

tooltip {
  background: @background;
  border-radius: 12px;
  border-width: 2px;
  border-style: solid;
  border-color: @foreground-dark;
}

tooltip label {
  color: @foreground;
}

#workspaces {
  margin-left: 5px;
}

#workspaces button {
  color: @foreground;
  opacity: 0.3;
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 3px;
  transition: all 0.1s cubic-bezier(.55, -0.68, .48, 1.682);
}

#workspaces button.active {
  background: transparent;
  opacity: 1;
  color: @alt;
  transition: all 0.2s cubic-bezier(.55, -0.68, .48, 1.682);
}

#workspaces button.focused,
#workspaces button:hover {
  background: transparent;
  color: @foreground;
  transition: all 0.1s cubic-bezier(.55, -0.68, .48, 1.682);
}

#workspaces button.urgent {
  background: @urgent;
  color: @foreground;
}

#window.module {
  margin-left: 10px;
  min-width: 50px;
}

#idle_inhibitor.module {
  min-width: 25px;
}

/* #custom-swaync.module { */
#clock.module {
  margin: 0 8px;
}

#pulseaudio.module,
#backlight.module,
#memory.module,
#power-profiles-daemon.module,
#mpris.horizontal {
  margin-left: 8px;
}

#backlight.module {
  min-width: 13px;
}

#cpu.module {
  margin-left: 3px;
}

#pulseaudio.module.microphone {
  min-width: 15px;
}

#battery.module {
  margin-left: 12px;
  min-width: 13px;
}

#mpris.horizontal {
  margin-left: 8px;
}

/* #connections.module { */
#connections.horizontal {
  margin-right: 3px;
}

#network.module {
  min-width: 20px;
}

#bluetooth.module {
  min-width: 15px;
  margin-left: 5px;
}
