*

!conf.d/10-*
!conf.d/20-*
!conf.d/90-*

!functions
!functions/fish_greeting.fish
!functions/fish_mode_prompt.fish
!functions/fish_prompt.fish
!functions/_fzf_search_git_log.fish
!functions/_fzf_search_history.fish
!functions/_fzf_wrapper.fish
!functions/gd.fish
!functions/_puffer_fish_expand_bang.fish
!functions/_puffer_fish_expand_dot.fish
!functions/tmux-attach.fish
!functions/tmux-kill-session.fish
!functions/tmux-sessionizer.fish

!cht.sh
!config.fish

